<a href="https://colab.research.google.com/github/Sir-Tobias/Java-Repository/blob/master/DT354DataScience3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**This is used to label your code**
hello world example

*   Hello world example
*   Valuable assignment

In [ ]:
mass = 25

volume = 5

density = mass/volume

print(density)

message = 'hello'
person = 'bob'

welcome = message + ' ' + person
print(welcome)

5.0
hello bob

Type Example

In [ ]:
isTodaySunday = False

print(type(isTodaySunday)) # bool

value_str = "25"

print(type(value_str))
print(type(int(value_str))) # forced type int because the value "25" can also be converted to an int

<class 'bool'>
<class 'str'>
<class 'int'>

Help command syntax


*   Put a question mark infront of anything you dont understand
*   ?len


*   ?type
*   ?print

In [ ]:
?len

?type

?print

Python Lists

In [ ]:
a = "is"
b = 2

my_list = ["my_list", a, b]
list_of_lists = [ my_list,[4,5]]
list_of_different_items = [my_list,[4,5],8]
print("list_of_different_items[0] .7", list_of_different_items[0])
print("list_of_different_items[1] .8", list_of_different_items[1])
print("list_of_different_items[2].9", list_of_different_items[2])
print("list_of_different_items[-1].10", list_of_different_items[-1])
print("list_of_different_items len .11", len(list_of_different_items))

list_of_different_items[0] .7 ['my_list', 'is', 2]
list_of_different_items[1] .8 [4, 5]
list_of_different_items[2].9 8
list_of_different_items[-1].10 8
list_of_different_items len .11 3

ASK GOOGLE EXAMPLE

In [ ]:
town = "Dublin and Derry"
print(town.lower())
print(town.lower().count('d'))

dublin and derry
3

Packages & Import

In [ ]:
import math

print(math.sqrt(4))

from math import sin #You can import a specific function from the math libary
print(sin(90))

import math as m# Import as M because you do not have to type math each time
print(m.sin(90))

Logic

In [ ]:
print(True == False)
print(2*8! = -8)

print('Ireland' == 'ireland')
print(False == 0)

Control Flow

In [ ]:
if 9 > 10:
    print("9 is greater than 10")
elif 9 == 10:
    print("9 is equal to 10")
else:
    print("9 is lesser than 10")

9 is lesser than 10

WEEK 3

In [8]:
x = 1
while x <3: #That has a condition that must be met 
    print(x)
    x += 1
print('>outside break')

while True: #infinite while loop that must be supported through a break
    print(x)
    x += 1
    print (x)
    if x> 6:
      break
print('outside')

1
2
>outside break
3
4
4
5
5
6
6
7
outside

Defining your own functions

In [29]:
def sum_fr(a,b):
  c = a + b
  return c

print(
     sum_fn(
         1, sum_fn(2)
        )
)

print(
    sum_fn(
        sum_fn(1,2), 3
        )
    )

print(
    sum_fn(
        sum_fn(1,2), sum_fn(2,2)
        )
    )

NameError: ignored

DICTIONARY

In [28]:
irish_pop_dict = {'Dublin': 1345602, 'Antrim': 617345, 'Cork': 546709}
print(irish_pop_dict['Dublin'])
print(irish_pop_dict.keys())
print(irish_pop_dict.values())
print(irish_pop_dict.items())
print('Dublin' in irish_pop_dict)
print('Down' in irish_pop_dict)
irish_pop_dict['Down'] = 342183
print(irish_pop_dict)

1345602
dict_keys(['Dublin', 'Antrim', 'Cork'])
dict_values([1345602, 617345, 546709])
dict_items([('Dublin', 1345602), ('Antrim', 617345), ('Cork', 546709)])
True
False
{'Dublin': 1345602, 'Antrim': 617345, 'Cork': 546709, 'Down': 342183}

LOOPING OVER THE DICTIONARY

In [30]:
d = {'one': 1, 'two': 2}

for k, v in d.items():
  print(k,v)

one 1
two 2

Practice Dictionary

In [ ]:
mycountries_dict = {}

mycountries_dict["Ireland"] = ['Dublin', 'Meath']
mycountries_dict["France"] = ['Paris', 'Lyon']
print(mycountries_dict)
#Applying a function
mycountries_dict["Ireland"].append('Cork')
print(mycountries_dict)
for a, c in mycountries_dict.items():
  print(a,c)

ITER METHODS

In [ ]:
for it in 'cat'# creates an iter method in the background

ZIP METHOD

In [33]:
joined = zip([1,2,3], [4,5,6])#packing or zipping
for x, y in joined:
  print(x,y)

  print(*zip([1,2,3], [4,5,6]))
  l1,l2 = zip(*zip([1,2,3], [4,5,6]))
  print(l1,l2)

1 4
(1, 4) (2, 5) (3, 6)
(1, 2, 3) (4, 5, 6)
2 5
(1, 4) (2, 5) (3, 6)
(1, 2, 3) (4, 5, 6)
3 6
(1, 4) (2, 5) (3, 6)
(1, 2, 3) (4, 5, 6)